﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rush Hour", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (RushHour.Web.Authentication.AuthenticationManager.LoggedUser != null)
                    {
                        <li>@Html.ActionLink("Appointments", "Index", "Appointment")</li>
                        <li>@Html.ActionLink("Calendar", "Calendar", "Appointment")</li>


                    }

                    @if ((RushHour.Web.Authentication.AuthenticationManager.LoggedUser != null &&
RushHour.Web.Authentication.AuthenticationManager.LoggedUser.IsAdmin))
                    {
                        <li> @Html.ActionLink("Users", "Index", "User") </li>
                        <li> @Html.ActionLink("Activities", "Index", "Activity") </li>

                    }
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
