﻿@using Microsoft.AspNet.Identity;

@if (RushHour.Web.Authentication.AuthenticationManager.LoggedUser != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + RushHour.Web.Authentication.AuthenticationManager.LoggedUser.Name + "!", "Details/" +  RushHour.Web.Authentication.AuthenticationManager.LoggedUser.Id, "User"  , routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Log out", "LogOut", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}