﻿@model IEnumerable<RushHour.Data.Entities.Activity>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="width:90%; margin:0 auto;">


    <table id="ActivitiesTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#ActivitiesTable').DataTable({
                "ajax": {
                    "url": "/Activity/LoadData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { data: "Name" },
                    { data: "Duration", render: function (duration) { return duration + "  Hour" } },
                    { data: "Price", render: function (price) { return price+ " $" } },
                    {
                        data: "Id", render:
                        
                        
                            function (id) {

                                return "<a  href='Activity/Details/" + id + "'>Details </a> <a  href='Activity/Edit/" + id + "'>Edit </a><a href='Activity/Delete/" + id + "'>Delete </a>";
                            }},
                ]
            });
        });

    </script>
}
<div>@Html.ActionLink("Create", "Create")</div>