﻿@model Library.Client.UserCreateViewModel.UsersCreateView
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @*@Html.ValidationSummary()*@
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.FName, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.FName, new { @class = "form-control col-md-10" })
            @Html.ValidationMessageFor(model => model.FName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LName, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.LName, new { @class = "form-control col-md-10" })
            @Html.ValidationMessageFor(model => model.LName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Age, new { @class = "form-control col-md-10" })
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Index", "Users", new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

