﻿@model ToDoApp.Data.Entities.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDone)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>