﻿@model IEnumerable<ToDoApp.Data.Entities.Note>
@{
    ViewBag.Title = "Index";
}

<div style="width:90%; margin:0 auto;">


    <table id="NotesTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>IsDone</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#NotesTable').DataTable({
                "ajax": {
                    "url": "/Notes/LoadData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "Title", "autoWidth": true },
                    { "data": "Description", "autoWidth": true },
                    {
                        "data": "IsDone", render:
                        function (data, type, row) {
                            var cb = "<input id='cbDone' name='cbDone' class='styled' type='checkbox' value = '" + row.Id + "'";
                            cb += data ? " checked=checked" : "";
                            cb += "/>";
                            return cb;
                        }
                    },
                    {
                        "data": "Id", render:
                        function (id) {
                            return "<a  href='Notes/Details/" + id + "'>Details </a> <a  href='Notes/Edit/" + id + "'>Edit </a><a href='Notes/Delete/" + id + "'>Delete </a>";
                        }
                    },
                ]


            });
        });

    </script>
}

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDone)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    <span>|</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@

<div>@Html.ActionLink("Create", "Create")</div>
